/* src/Sequencer.css */
body {
    font-family: monospace;
    text-align: center;
  }
  
  .custom-logo {
    width: 100%; /* Adjust width to ensure it doesn't stretch too much */
    max-width: 400px; /* Maximum width to fit the layout */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image is fully visible */
    margin: 20px auto;
    transition: filter 0.1s all; /* Smooth transition for hover effect */
  }
  
  .custom-logo:hover {
    filter: invert(100%); /* Invert colors on hover */
  }
  
  .sequencer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .step {
    width: 30px;
    height: 30px;
    margin: 2px;
    background-color: #ddd;
    border: 1px solid #aaa;
    display: inline-block;
  }
  
  .step.active {
    background-color: #555;
  }
  
  .step.current {
    border-color: black;
  }
  
  .group {
    display: flex;
  }
  
  .group + .group {
    margin-left: 10px; /* Add spacing between groups */
  }
  
  .controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px auto;
  }
  
  .control-button {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .control-button i {
    font-size: 24px;
  }
  
  .bpm-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .bpm-control label,
  .bpm-control span {
    margin: 0 5px;
  }
  
  .bpm-control input[type="range"] {
    margin: 0 10px;
  }
  
  .tap-bpm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #333;
  }
  
  .tap-bpm label,
  .tap-bpm span {
    margin: 0 5px;
    width: 60px; /* Fix the width to avoid shifting */
    text-align: left; /* Ensure proper alignment */
  }
  
  .tap-bpm .tap-value {
    color: #000000;
  }
  
  .tap-bpm button {
    margin-right: 10px;
  }
  